body {
  background-color: #f3f3f4;
  color: #676a6c;
}

/* copied from customized antd.css, maybe delete later */
:global {
  .ant-layout-wrapper {
    padding: 15px;
  }

  .ant-layout-breadcrumb {
    padding-left: 15px;
    height: 45px;
    line-height: 45px;
    margin: -15px -15px 15px;
    background-color: #fff;
    border-bottom: 1px solid #e7eaec;
  }

  .ant-layout-container {
    position: relative;
    padding: 15px;
    background-color: #fff;
    border-top: 3px solid #e7eaec;
    overflow: hidden;
  }

  .ant-table-searchbar {
    float: right;
    margin-bottom: 15px;
  }

  .ant-table-searchbar + .clearfix {
    clear: right;
  }

  .ant-btn {
    font-weight: 400;
    line-height: 1.5;
  }

  .xor:not(.truth) .xor-target.truth-target {
    display: none;
  }

  .xor.truth .xor-target:not(.truth-target) {
    display: none;
  }
}
