.moviePanel {
  margin-left: -30px;
}

.moviePanel > div {
  display: inline-block;
}

.moviePanel > div > p {
  margin-top: 20px;
}

.moviePanel > div.left {
  width: 200px;
}

.moviePanel img {
  width: 100%;
}

.moviePanel .label {
  margin-right: 10px;
}

.moviePanel > div.right {
  margin-left: 20px;
  vertical-align: top;
}

.moviePanel > div.right a {
  margin-left: 5px;
}
